{erl_opts, [debug_info]}.
{deps, [{jiffy, "1.1.1"},
        {jesse, {git, "https://github.com/for-get/jesse", {branch, "master"}}},
        gproc,
        {jerk, {git, "https://github.com/wfvining/jerk", {branch, "master"}}}
]}.

{profiles, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ocpp]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [{main, "README.md"},
          {extras, [{"README.md", #{title => "Overview"}}]},
          {source_url, "https://github.com/wfvining/ocpp.git"}]}.
