{erl_opts, [debug_info]}.
{deps, [{jiffy, "1.1.1"},
        {jesse, "1.7.11"},
        {jerk, {git, "https://github.com/wfvining/jerk", {branch, "master"}}}
]}.

{profiles, [{test, [{deps, {git, "https://github.com/ninenines/gun", {tag, "2.0.0"}}}]}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ocpp]}
]}.
